@import '../../global.scss';

.MDTextField {
  border-bottom: solid 1px;
  position: relative;
  border-radius: $md-border-radius-medium $md-border-radius-medium 0 0;
  min-height: 56px;
  transition: background 150ms $ms150timing, border-bottom 150ms $ms150timing, caret-color 150ms $ms150timing;
  cursor: text;
}

.MDTextFieldOutlined {
  border: solid thin;
  box-sizing: border-box;
  transition: border 0ms $ms150timing, caret-color 150ms $ms150timing;
  position: relative;
  border-radius: $md-border-radius-medium $md-border-radius-medium $md-border-radius-medium $md-border-radius-medium;
  min-height: 56px;
  cursor: text;
}

.MDTextFieldOutlined:focus-within {
  border: solid medium;
}

.MDTextField:focus-within {
  border-bottom: solid 1px;
}

.MDTextField:focus-within .Label {
  transform: translateY(-50%) scale(.75);
  font-size: 16px;
}

.MDTextFieldOutlined:focus-within .Label {
  transform: translateY(-50%) scale(.75);
  font-size: 16px;
  z-index: 2;
}

.Label{
  position: absolute;
  left: 16px;
  bottom: 30%;
  top: auto;
  transition: transform 150ms $ms150timing,
              color 150ms $ms150timing;
  transform-origin: 0px 0px;
}

.InputWrapper {
  display: flex;
  align-content: center;
  position: absolute;
  left: 16px;
  bottom: .5rem;
  height: 50%;
  width: calc(100% - 32px);
}

.TextInput {
  border: none;
  background: transparent;
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.TextInput:focus {
  outline: none;
}
