@import '../../global.palettes.scss';

.MDCard {
    background: $bg-color-dark;
    color: $text-color-dark-grey;
}

.MDCardHeader h2{
    color: $text-color-dark;
}

.MDCard:hover {
    background-color: $bg-color-dark-elevated-8dp;
}