@import '../../global.scss'; 

.MDCard {
    border-radius: $md-border-radius;
    @include Roboto-medium;
    transition: all .25s linear;
    @include box-shadow-1dp;
}

.MDCardMedia {
    order: 1;
    object-fit: cover;
    z-index: 1;
    max-width: 100%;
    border-radius: $md-border-radius $md-border-radius 0 0;
}

.MDCard:hover {
    @include box-shadow-8dp;
}

.MDCardHeader {
    order: 1;
    padding: 16px;
    padding-right: 24px;
    margin-bottom: .5em;
    padding-bottom: 0;
}

.MDCardContent {
    padding: 16px;
    padding-right: 24px;
    order: 2;
    padding-top: 0;
    padding-bottom: 0;
}

.MDCardFooter {
    order: 3;
    padding: 16px;
    padding-right: 24px;
    margin-top: .8em;
    padding-top: 0;
    display: flex;
}

.MDCardFooter:empty {
    margin-top: 0;
}

.MDCardFooter button {
    margin-right: 8px;
}

.MDCardTitle {
    @include Roboto-bolder;
    order: 1;
    font-size: 1.5em;
    margin: 0;
}

.MDCardSubtitle {
    @include Roboto-medium;
    font-size: 1em;
    margin: 0;
    order: 2;
}

.MDCardSection {
    @include Roboto-medium;
    font-size: 1em;
    margin-top: .8em;
    margin-bottom: .5em;
    order: 3;
    padding: 0;
}

.MDCardContent .MDDivider {
    order: 3;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
}