$bg-color-light: #f1f1f1;
$bg-color-dark: #121212;
$bg-color-dark-elevated-1dp: #181818;
$bg-color-dark-elevated-8dp: #292929;
$accent-color: #F9E96A;
$text-color-light: #1f1f1f;
$text-color-light-grey: #767676;
$text-color-dark: #f1f1f1;
